[tool.poetry]
name = "sarc"
version = "0.1.0"
description = "Surveillance et analyse des ressources de calcul"
authors = ["Mila-IDT"]
readme = "README.md"
packages = [{include = 'sarc'}]

[tool.poetry.dependencies]
python = "^3.9"
fabric = "^3.0.0"
prometheus-api-client = "^0.5.2"
pydantic = "^1.10.4"
pydantic-mongo = "^1.0.1"
pymongo = "^4.3.3"
numpy = ">= 1.24.0"
ldap3 = "^2.9.1"
python-hostlist = "^1.23.0"
tqdm = "^4.64.1"
flatten-dict = "^0.4.2"
simple-parsing = "^0.1.0"

[tool.poetry.group.dev.dependencies]
black = ">= 22.12.0"
pylint = ">= 2.15.10"
isort = ">= 5.11.4"
mypy = ">= 0.991"
pytest = ">= 7.2.1"
pytest-cov = ">= 4.0.0"
pytest-regressions = ">= 2.4.2"
tox = ">= 4.4.5"
pytest-freezegun = ">= 0.4.2"
fabric = {extras = ["testing"], version = "^3.0.0"}
pre-commit = "^3.1.1"

[tool.poetry.group.examples.dependencies]
seaborn = "^0.12.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
sarc = 'sarc.cli:main'

[tool.pylint]
ignore-paths = []
disable = [
    "no-self-argument",  # Pydantic validators don't have one
    "too-few-public-methods",  # Triggered on Pydantic models
    "import-outside-toplevel",  # These imports are useful to reduce loading times
    "too-many-arguments",
    "too-many-locals",
    "missing-module-docstring",
    "missing-class-docstring",
    "missing-function-docstring",
    "invalid-name",
    "no-else-return",  # Bad rule IMO (- OB)
    "line-too-long"  # Black takes care of line length.
]
extension-pkg-whitelist = "pydantic"

[tool.isort]
profile = "black"
