[Unit]
Description=SARC scrapers every day
Requires=sarc_scrapers_daily.service

[Timer]
Unit=sarc_scrapers_daily.service
OnCalendar=*-*-* 03:30:00

[Install]
WantedBy=timers.target
