[Unit]
Description=SARC backup
Wants=sarc_backup.timer

[Service]
Type=oneshot
# this hard-coded path is UGLY as hell.
# replace it asap as soone as we know a way to
# dynamically determine the dirpath of this script
ExecStart=sudo -u sarc /bin/bash /home/sarc/SARC/scripts/systemd/mongo_backup.sh sarc_mongo sarc /home/sarc/mongo_backups/
ExecStart=mkdir /backup
ExecStart=cp /home/sarc/mongo_backups/daily_backup.tar.gz /backup/

[Install]
WantedBy=multi-user.agent