[Unit]
Description=SARC scrapers (hourly)
Wants=sarc_scrapers_hifreq.timer

[Service]
Type=oneshot
User=sarc
WorkingDirectory=/home/sarc/SARC
ExecStart=/bin/bash ./scripts/systemd/scrapers_hifreq.sh

[Install]
WantedBy=multi-user.agent
