name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    types: [ opened, reopened ]
    branches: [ master ]

jobs:
  tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install

    - name: Test with tox
      run: poetry run tox

#    - name: Verify coverage
#      if: ${{ matrix.python-version >= '3.8' }}
#      run: poetry run coverage report | tail -1 | egrep "TOTAL +[0-9]+ +0 +100%"
     
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']
        toxenv: [black, isort, lint]
      

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install

    - name: Tests with tox
      run: poetry run tox -e ${{ matrix.toxenv }}
 